.company_points__container {
    max-width: 1200px;
    width: 70%;
    margin-inline: auto;
    padding: 0 1.5rem;
    border: 1px solid #eee;
    height: 98vh;
    overflow: hidden;

    &___header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #aaa;
        padding-block: .5rem;
        height: 5%;

        img {
            height: 120%;
            border-radius: 50%;
        }

        p {
            font-weight: bold;
        }
    }

    &___content {
        height: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

    }
}